body{
    margin: 0;
    background-color: #cee3e7;
    min-height: 100vh;
    height: 100%;
}

header{
    /* border: 2px solid black; */
    
}

.logo{
    /* position: fixed; */
    /* display: block; */
    width: 100%;
    /* height: 50px; */
    background-color: #1b5460;
    position: relative;
    /* z-index: -1; */
}

#logo-header{
    display: block;
    margin: auto;
    /* background-color: #cee3e7; */
    /* border: 1px solid #cee3e7; */
    border-radius: 10%;
    height: 120px; width:120px;
}

#logo-wrapper{
    display: block;
    margin: auto;
    height: 90px; width: 180px;
    background-color: #cee3e7;
    padding-left: 10px;
    border-radius: 20px;

}






nav{
    /* background-color: black; */
    /* margin-top: 10px; */
    /* position:fixed; */
    
}

.nav-wrapper{
    user-select: none;
    /* margin: auto; */
    margin-left: 3%;
    width: 25%;
    /* width: 100%; */
    height: 50px;
    padding-top: 15px;
    background-color: #03030370;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.nav-items a{
    width: 25%;
    text-decoration: none;
    /* color: #0d3841; */
    color: white;
    background-color: #0e0e0e75;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
    border-radius: 10px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-items a:hover{
    background-color: #cee3e7;
    color: #03030370;
}

.nav-items span{
    /* cursor: default;
    user-select: none; */
    color: #b5d2d8;
    font-size: 30px;
}





.content{
    /* height: 1000px; */
    height: 100%;
    margin-top: 50px;
    /* border: 2px solid black; */

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

section h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}


.sec-welcome{
    /* border: 2px solid yellow; */
    position: relative;
    color: white;
    font-size: 20pt;
}

.sec-welcome img{

    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    /* opacity: 70%; */
    filter: brightness(70%);
}

.font-est{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}















.centered{
    /* border: 2px solid yellow; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vismis{
    /* border: 1px solid rgb(255, 251, 0); */
    margin-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #1b54601e;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vismis p{
    font-size: large;
    color: #1b5460;
    
}


.right-box{
    /* display: inline-block; */
    /* border: 1px solid black; */
    /* margin: 1%; padding: 1%; */
    margin: auto;
    float: right;
    width: 30%;
    height: 30%;

    text-align: center;
}

.middle-box{
    display: inline-block;
    /* border: 1px solid black; */
    margin: auto;
    margin-left: 5%;
    /* margin-right: 8%; */
    width: 30%;
    height: 30%;

    text-align: center;

}

.left-box{
    /* display: inline-block; */
    /* border: 1px solid black; */
    /* margin: 1%; padding: 1%; */
    margin: auto;
    float: left;
    width: 30%;
    height: 30%;

    text-align: center;
}



.why-ckc img{
    background-color: white;
    border: 5px solid white;
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

.why-img{
    display: inline-block;
    background-color: black;
    border: 10px solid black;
    border-radius: 20px;
    margin-left: 5%;
}

.centered-why{
    /* border: 2px solid yellow; */
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.why-info{
    margin-top: 15%;
}

.why-info-det{
    display: inline-block;
    height: 200px; width: 200px;
    margin-right: 5%;
}








footer{
    /* margin-top: 20px; */
    position: absolute;
    width: 100%;
    background-color: #1b5460;
    
}

.footer-text{
    /* border: 1px solid white; */
    color: white;
    text-align: center;
    font-size: larger;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.iframe-1{
    margin-top: 1%;
    border: 5px solid #1b5460;
    border-radius: 2px;
}